{% extends "template.html" %}
{% block conteudo %}
    <form action="/cadastro_produto" method="POST" enctype="multipart/form-data">
        <figure class="img-thumbnail col-md-4">
            <img class="img-fluid" src="{{url_for('imagem' , nome_arquivo='115035.jpg')}}"><figcaption>
            <label class="fileContainer">
                mudar capa
            <input type="file" nome="arquivo" accept=".jpg">
            </label>
        </figcaption> </figure>
    <input type="file" name="arquivo" accept="jpg">
          <h1 id="{{cadastro_do_produto}}">campo de cadastro
          </h1>{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
        {{ form.csrf_token() }}
    <div>
        {{form.nome_do_produto.label(class = "form.label")}}
        {{form.nome_do_produto(class = "form.control")}}
    </div>
        <div>
      {{form.data_de_validade.label(class = "form.label")}}
        {{form.data_de_validade(class = "form.control")}}
        </div>
    <div>
      {{form.data_de_fabricacao.label(class = "form.label")}}
        {{form.data_de_fabricacao(class = "form.control")}}
    </div>
        <div>
      {{form.estoque.label(class = "form.label")}}
        {{form.estoque(class = "form.control")}}
    </div>
        <div>
      {{form.id.label(class = "form.label")}}
        {{form.id(class = "form.control")}}
    </div>


      <input type="submit" value="Register" />
    </form>
{% endblock %}