{% extends "template.html" %}
{% block conteudo %}
    <form action="/cadastro_produto" method="POST" enctype="multipart/form-data">
        <figure class="img-thumbnail col-md-4">
            <img class="img-fluid" src="{{url_for('imagem' , nome_arquivo='115035.jpg')}}"><figcaption>
            <label class="fileContainer">
                mudar capa
            <input type="file" nome="arquivo" accept=".jpg">
            </label>
        </figcaption> </figure>
    <input type="file" name="arquivo" accept="jpg">
          <h1 id="{{cadastro_do_produto}}">campo de cadastro
          </h1>{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}

      <label for="nome_do_produto">name do produto:</label><br />
      <input type="text" id="nome_do_produto" name="nome_do_produto" required><br />

      <label for="data_de_validade">data de validade:</label><br />
      <input type="date" id="data_de_validade" name="data_de_validade" required><br />

      <label for="data_de_fabricacao">data de fabricação:</label><br />
      <input type="date" id="data_de_fabricacao" name="data_de_fabricacao" required><br />

      <label for="estoque">estoque:</label><br />
      <input type="text" id="estoque" name="estoque" required><br />

        <label for="id">id:</label><br />
      <input type="text" id="id" name="id" required><br />


      <input type="submit" value="Register" />
    </form>
{% endblock %}