{% extends "template.html" %}
{% block conteudo %}

    <div class="form-container">
        <h2>Login</h2>
        <form action="{{ url_for('validacao') }}" method="POST">
            <label for="nome">Username:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            <input type="submit" value="Login">
        </form>
        <div class="links">
            <a href="/cadastro">Create new account</a>
        </div>
    </div>
{% endblock %}
