<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
<table border="1">

    <form action="/tabela" method="POSt">
  <tr>
    <th >Item Name</th>
    <th>Item Description</th>
    <th >Item Price</th>
  </tr>
      {% for registros in registro %}
  <tr>
    <td>{{registros.id}}</td>
    <td>{{registros.nome_do_produto}}</td>
    <td>{{registros.data_de_validade}}</td>
    <td>{{registros.data_de_fabricacao}}</td>
    <td>{{registros.estoque}}</td>
    <td><a href="{{url_for('editar', cpf = registros.cpf)}}">editar</a> </td>
      <td><a href="{{url_for('deletar', cpf = registros.cpf)}}">deletar</a> </td>
    <button hraf = url_for('cadastra')></button>
  </tr>
      {% endfor %}
  </form>
</table>