<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
<table border="1">

    <form action="/tabela" method="POSt">
  <tr>
    <th >Item Name</th>
    <th>Item Description</th>
    <th >Item Price</th>
  </tr>
      {% for registros in registro %}
  <tr>
    <td>{{registros.nome}}</td>
    <td>{{registros.cpf}}</td>
    <td>{{registros.email}}</td>
    <td><a href="{{url_for('editar', cpf = registros.cpf)}}">editar</a> </td>
      <td><a href="{{url_for('deletar', cpf = registros.cpf)}}">deletar</a> </td>
  </tr>
      {% endfor %}
  </form>
</table>