<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Produtos</title>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
</head>
<body>
    <a class="btn btn-primary" href="{{url_for('login')}}">login</a>
    <a class="btn btn-primary"  href="{{url_for('logout')}}">logout</a>
    <a class="btn btn-primary"  href="{{url_for('cadastro_do_produto')}}">cadastrar produto</a>

    <table border="1">
        <tr>
            <th> nome_do_produto/ </th>
            <th> data_de_validade/ </th>
            <th> produto.data_de_fabricacao/ </th>
            <th> estoque/ </th>
            <th> id </th>
        </tr>
        {% for produto in produtos %}
    {% if produto %}
        <tr>
            <td>{{ produto.nome_do_produto }}</td>
            <td>{{ produto.data_de_validade }}</td>
            <td>{{ produto.data_de_fabricacao }}</td>
            <td>{{ produto.estoque }}</td>
            <td>{{ produto.id }}</td>
            <td><a href="{{ url_for('editar', id=produto.id) }}">editar</a></td>
            <td><a href="{{ url_for('deletar', id=produto.id) }}">deletar</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Nenhum produto encontrado.</td>
        </tr>
    {% endif %}
{% endfor %}
    </table>
    <a href="{{ url_for('cadastro_do_produto') }}" class="btn btn-primary">Cadastrar Produto</a>
</body>
</html>